:root {
    --c-white: #ffffff;
    --c-black: #000000;
    --c-dark-gray: #38383b;
    --f-primary: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--f-primary);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;
    color: var(--c-black);
}

h2 {
    font-size: clamp(2.4rem, 4vw, 3.2rem);
}

p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem;
}

.section {
    margin: 4rem 0;
}

.section--large {
    margin: 6rem 0;
}

header {
    background: url(img/childcaremarin-hero.webp) no-repeat center center;
    background-size: cover;
    min-height: 300px;
    display: grid;
    align-items: end;
}

header h1 {
    color: var(--c-black);
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    padding: 1rem 2rem;
    font-size: clamp(2.8rem, 5vw, 4rem);
    margin: 0 0 4rem;
}

.welcome .container {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* 4:3 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.contact h2 {
    text-align: center;    
}

.contact .container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 4rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    font-size: 1.8rem;
}

.contact form input,
.contact form textarea {
    margin-bottom: 2rem;
    padding: 1.6rem 1.3rem;
    font-size: 1.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.contact form textarea {
    resize: vertical;
    min-height: 140px;
}

.contact form input[type="submit"] {
    background-color: var(--c-dark-gray);
    color: var(--c-white);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 0.3rem;
    transition: background-color 0.3s ease;
}

.contact form input[type="submit"]:hover {
    background-color: #555;
}

footer {
    color: var(--c-white);
    background-color: var(--c-dark-gray);
    padding: 60px 0;
    text-align: center;
}

footer a {
    color: var(--c-white);
    text-decoration: none;
}

footer a:hover {
    color: #999;
}

.thankyou {
    min-height: 400px;
}

@media screen and (max-width: 768px) {
    .welcome .container {
        grid-template-columns: 100%;
    }
}

